@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0eccd;
    color: #1a1033;
    overflow-x: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 48px;
    position: sticky;
    background-color:#809859;
    top: 0;
    border-bottom: 2px solid rgba(57, 133, 64, 0.07);
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav-links {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #357133
}

.nav-links a:hover {
    color: #809859;
  
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 14px;
}


.btn-entrar {
    background-color: #768b52;
    color: rgb(251, 243, 245);
    border: none;
    padding: 9px 20px;
    cursor: pointer;
    gap: 6px;
    transform: background .2s, transform .15s;
    margin-left: 10px;
}

.btn-entrar:hover {
    background: #46572c;
    transform: translateY(-1px);
}

.btn-entrar svg {
    width: 14px;
    height: 14px;
}

.hero {
    padding: 60px 48px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hero-topo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 30px;
}

.hero-text {
    flex: 1;
    min-width: 400px;
}

.hero-title {
    font-family: "Bitter", serif;
    font-weight: bold;
    font-size: 102px;
    line-height: .85;
    letter-spacing: 5px;
    color: #839958;
}

.hero-title .alegre {
    color: #a7cd69;
}

.hero-menu {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: auto;
}

.hero-menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 7px 16px;
    width: fit-content;
    cursor: pointer;
    transition: background .2s;
    font-size: 12px;
}

.hero-menu-item:hover {
    background-color: #ede8ff;
}

.hero-menu-item svg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.hero-menu-item.active {
    color: #804d4d;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #6c2bff;
}

.hero-banner {
    position: relative;
    border-radius: 28px;
    min-height: 300px;
    overflow: hidden;
}

.hero-banner img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}

.hero-banner-content {
    position: absolute;
    top: 12%;
    left: 50%;
    text-align: center;
    width: 100%;
    transform: translateX(-50%);
}

.hero-banner-content p {
    color: rgb(44, 17, 17);
    margin-bottom: 25px;
    font-size: 20px;
    text-shadow: 0 4px 12px rgba(0, 0, 0, .35);
    line-height: 1.5;
}

.hero-banner-content p strong {
    color: #391414;
    font-weight: bold;
}

.btn-contato {
    display: inline-flex;
    align-items: center;
    gap: 14px;
    background-color: #2a5a28;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 8px 28px 8px 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease;
}

.btn-contato::before {
    content: "➝";
    width: 42px;
    height: 42px;
    background-color: #84c476;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .4s ease;
}

.btn-contato:hover::before {
    transform: translateX(10px);
    color: #1f451c;
}

.btn-contato:hover {
    transform: translateY(-2px);
}

.carousel-dots {
    display: flex;
    gap: 8px;
    align-items: center;
}

footer {
    background-color: #839958;
    padding: 24px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(108, 43, 255, 0.08);
}

.footer-copy {
    color: #60803f;
    letter-spacing: 5px;
}

.footer-socials {
    display: flex;
    gap: 14px;
}

.footer-socials a {
    width: 30px;
    height: 30px;
    background-color: #80985900;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #24105c;
    text-decoration: none;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #d8d0f0;
}

.dot.active {
    background-color: #a78bfa;
    transform: scale(1.35);
}

.descricao {
    text-align: center;
    font-size: 40px;
}

.descricao h1 {
    color: #5519ee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.descricao p{
    font-size: 29px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 10px;
}

.container {
    display: flex;
    align-items: center;
   gap: 13px;
   margin-left: 30px;
  
 
}
.card06 h3 {
  margin-bottom: 10px; /* Controla o espaço logo abaixo do h3 */
}

.card06 p {
  margin-top: 0; /* Remove a margem padrão superior do parágrafo */
}

.container img {
    border-radius: 500px;
    max-width: 150px;
}
