@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0eccd;
    color: #3f9445;
    overflow-x: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 48px;

    background-color:#809859;
    top: 0;
    border-bottom: 2px solid rgba(57, 133, 64, 0.07);
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 6px;
 
}

.nav-links {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #357133;
    font-size: 29px;
   
}

.nav-links a:hover {
    color: #4a5b2e;
  
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 14px;
}


.btn-entrar {
    background-color: #768b52;
    color: rgb(251, 243, 245);
    border: none;
    padding: 9px 20px;
    cursor: pointer;
    gap: 6px;
    transform: background .2s, transform .15s;
    margin-left: 10px;
    border-radius: 30px;
}

.btn-entrar:hover {
    background: #46572c;
    transform: translateY(-1px);
}

.btn-entrar svg {
    width: 10px;
    height: 10px;
}

.hero {
    padding: 60px 48px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hero-topo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 30px;
}

.hero-text {
    flex: 1;
    min-width: 400px;
}

.hero-title {
    font-family: "Bitter", serif;
    font-weight: bold;
    font-size: 102px;
    line-height: .85;
    letter-spacing: 5px;
    color: #839958;
}

.hero-title .alegre {
    color: #a7cd69;
}

.hero-menu {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: auto;
}

.hero-menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 7px 16px;
    width: fit-content;
    cursor: pointer;
    transition: background .2s;
    font-size: 12px;
}



.hero-banner {
    position: relative;
    border-radius: 8px;
    min-height: 300px;
    overflow: hidden;
}

.hero-banner img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}

.hero-banner-content {
    position: absolute;
    top: 12%;
    left: 50%;
    text-align: center;
    width: 100%;
    transform: translateX(-50%);
}

.hero-banner-content p {
    color: rgb(44, 17, 17);
    margin-bottom: 25px;
    font-size: 20px;
    text-shadow: 0 4px 12px rgba(0, 0, 0, .35);
    line-height: 1.5;
}

.hero-banner-content p strong {
    color: #391414;
    font-weight: bold;
}

.btn-contato {
    display: inline-flex;
    align-items: center;
    gap: 14px;
    background-color: #2a5a28;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 28px 8px 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease;
}

.btn-contato::before {
    content: "➝";
    width: 42px;
    height: 42px;
    background-color: #84c476;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .4s ease;
}

.btn-contato:hover::before {
    transform: translateX(10px);
    color: #1f451c;
}

.btn-contato:hover {
    transform: translateY(-2px);
}

.carousel-dots {
    display: flex;
    gap: 8px;
    align-items: center;
}

footer {
    background-color: #839958;
    padding: 24px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(108, 43, 255, 0.08);
}

.footer-copy {
    color: #60803f;
    letter-spacing: 5px;
}

.footer-socials {
    display: flex;
    gap: 14px;
}

.footer-socials a {
    width: 30px;
    height: 30px;
    background-color: #80985900;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #24105c;
    text-decoration: none;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #d8d0f0;
}

.dot.active {
    background-color: #a78bfa;
    transform: scale(1.35);
}

.descricao {
    font-size: 26px;
}

.descricao h1 {
    color: #5a9548;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.descricao p{
    font-size: 21px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 10px;
    margin-left: 50px;
}

.container {
    display: flex;
    align-items: center;
   gap: 13px;
   margin-left: 30px;
  
 
}
.card06 h3 {
  margin-bottom: 10px; /* Controla o espaço logo abaixo do h3 */
}

.card06 p {
  margin-top: 0; /* Remove a margem padrão superior do parágrafo */
}

.container img {
    border-radius: 500px;
    max-width: 150px;
}



.livro {
    padding: 80px 48px 60px;
}

.livro-title {
    font-family: "Carattere", cursive;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin-bottom: 48px;
    letter-spacing: -1px;
    color: #809859;
}

.carousel-wrapper {
    position: relative;
}

.carousel-track-outer {
    overflow: hidden;
    border-radius: 18px;
}

.carousel-track {
    display: flex;
    gap: 20px;
}

.card {
    flex: 0 0 calc(33.333% - 14px);
    border-radius: 18px;
    overflow: hidden;
    position: relative;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: transform .25s;
    background-color: #f6f4ff;
}

.card:hover {
    transform: translateY(-4px);
}

.card-img-placeholder {
    position: absolute;
    background: linear-gradient(160deg, #ddd5ff 0%, #f8d7fa 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #f8f7f9;
    inset: 0;
   
}

.card .featured .card-img-placeholder {
    background: linear-gradient(160deg, #a78bfa 0%, #e879f9 100%);
 
}

.card-info {
    position: relative;
    background: linear-gradient(to top rgba(20, 10, 40, 0.82) 0%, transparent 100%);
    padding: 20px 18px 18px;
    color: #19173d;
}

.card-info h3 {
    font-family: sans-serif;
    margin-bottom: 6px;
}
.card-tag {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: rgb(161, 195, 123);
}
.carousel-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 28px;
}

.carousel-btn {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background-color: #2a5a28;
    color: rgb(54, 158, 70);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .2s, transform .15s;
    font-size: 20px;
}

.carousel-btn:hover {
    background-color: #768b52;
    transform: scale(1.08);
}

.carousel-dots {
    display: flex;
    gap: 8px;
    align-items: center;
}

.diario-de-rosalia{
      font-family: "Carattere", cursive;
    color: #5a9548;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
     margin-top: 10px;

}
.bio{
      font-family: "Carattere", cursive;
       font-size: 37px;
    text-align: left;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 10px;
    margin-left: 50px;
}
